.nav{
    position: fixed;
    top:0;
    width: 100%;
    height: 60px;
    z-index: 1;
    padding: 20px 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // background: linear-gradient(to bottom, rgba(0,0,0,1), transparent);
    background-image: linear-gradient(180deg,rgba(0,0,0,.7) 10%,transparent);
    /*animation*/
    transition-timing-function: ease-in;
    transition: all 0.5s;
    
    .nav_logo{
        // position:  fixed;
        left: 40px;
        width: 80px;
        object-fit: contain;
        cursor: pointer;
    }
    .nav_avartar{
        // position: fixed;
        right: 40px;
        width: 30px;
        object-fit: contain;
    }
}
.nav_black{
    background-color: black;
}